html{
    font-size:16px;
    font-family: 'sans-serif'
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

h1{
    font-family: 'billabong';
    text-align: center;
    font-size: 13rem;
    font-weight: 100;
    margin: 2rem 0;
    letter-spacing: 1px;
    color: black
}

@font-face{
    font-family: 'billabong';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
}


.photo-grid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.figure{
    flex-basis: calc(33.33% - 4rem);
    border: 3px solid burlywood;
    padding: 2rem;
    flex-grow:1;
    margin: 0 2rem 2rem 2rem;
}

.photo {
    width: 100% ;
    
}

.button-container{
    display: flex;
    justify-content: center;
}

.remove-button{
    flex-basis: 48%;
    color: red;
    font-size: 15px;
    border: 2px solid #f2f2f2;
    line-height: 2;
    padding: 5px;
}